extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')

block content
  main.main
    .card-container
        //- have title, body, photo, author, and tags
     
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/tours/${tour.photo}`, alt=`${tour.name}`)
            h3.heading-tertirary
              span= tour.title

          .card__details
            h1.card__sub-heading= tour.author.name
            -text = tour.body
            p.card__text= text
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.tags
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
                span= tour.createdAt.toLocaleString('en-us', {month: 'long', year: 'numeric'})
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-flag')
              //- span= `${tour.locations.length} stops`
              span
                a.remove(href=`/`) Back
              
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span= tour.author.name