extends base

block content
  main.main
    .searchContainer
      //- h1.heading-secondary.search  search
      form(id="searchWrapper", action="/", method="get")
        label.search_label(for="searchBarTitle")  Title
        input.search__input(type="text",name="searchBarTitle",id="searchBarTitle",placeholder="search for a tittle" )
        label.search_label(for="searchBarAuthor")  Author
        input.search__input(type="text",name="searchBarAuthor",id="searchBarAuthor",placeholder="search for a author" )
        label.search_label(for="searchBarTag")  Tag
        input.search__input(type="text",name="searchBarTag",id="searchBarTag",placeholder="search for a tag" )
        br
        br
        input.heading-secondary.btn.btn--small.btn--green.search(type="submit" ,value="Submit")
    .card-container
      //- have title, body, photo, author, and tags
      each tour in tours
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/tours/${tour.photo}`, alt=`${tour.title}`)
            h3.heading-tertirary
              span= tour.title

          .card__details
            h1.card__sub-heading= tour.author.name
            //- -console.log(tour.title)
            -text = tour.body.split(' ')[0] + ' .....'
            p.card__text= text
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.tags
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
                span= tour.createdAt.toLocaleString('en-us', {month: 'long', year: 'numeric'})
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-flag')
              //- span= `${tour.locations.length} stops`
              span
                a.remove(href=`/tour/${tour.slug}`) Read more
              
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              span
                a.remove(href=`/myPosts/${tour.author.id}`)= tour.author.name
