extends base

block content
  main.main
    - console.log("in 🧑 ")
    .card-container
      if tours[0] && user.id != tours[0].author.id && !followers
        - console.log("in first if")
        if user.following.indexOf(tours[0].author.id ) >= 0
          - console.log("in 2-1 if")
          button.btn.btn--small.btn--green.followButton(data-id=`${tours[0].author.id }` )= `UnFollow ${tours[0].author.name}`
        else 
          - console.log("in 2-1 if")
          button.btn.btn--small.btn--green.followButton(data-id=`${tours[0].author.id }` )= `Follow ${tours[0].author.name}`
      //- h1= user.following.includes(tours[0].author.id )
      //- - console.log("user.following = ", user.following)
      //- - console.log("tours[0].author.id = ", tours[0].author.id )
      //- - console.log(user.following.indexOf(tours[0].author.id ) >= 0 )
      //- - console.log(user.following[1]==(tours[0].author.id ) )
      each tour, i in tours
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/tours/${tour.photo}`, alt=`${tour.name}`)
            h3.heading-tertirary
              span= tour.title

          .card__details
            h1.card__sub-heading= tour.author.name
            -text = tour.body.split('.')[0] + ' .....'
            p.card__text= text
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-map-pin')
              span= tour.tags
            //- .card__data
            //-   svg.card__icon
            //-     use(xlink:href='/img/icons.svg#icon-calendar')
            //-     span= tour.createdAt.toLocaleString('en-us', {month: 'long', year: 'numeric'})
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-calendar')
              if user.id == tour.author.id 
                span
                  a.remove(href=`/edit/${tour.slug}`) Edit
              else
                span= tour.createdAt.toLocaleString('en-us', {month: 'long', year: 'numeric'})
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-flag')
              span
                a.remove(href=`/tour/${tour.slug}`) Read more
            .card__data
              svg.card__icon
                use(xlink:href='/img/icons.svg#icon-user')
              if user.id == tour.author.id 
                span 
                  a.remove.clickListen(data-index-number=`${tour._id}` href=`#`) Delete
              if followers
                span 
                  a.remove(href=`/myPosts/${tour.author.id}`)= tour.author.name

              

          //- .card__footer
            //- p
            //-   span.card__footer-value= `$${tour.price}`
              
            //-   span.card__footer-text per person
            //- p.card__ratings
            //-   span.card__footer-value
              
            //-   span.card__footer-text 
            //- a.btn.btn--green.btn--small(href=`/tour/${tour.slug}`) Details